@import '../../variables.less';
.header {
  &__section {
    height:90px;
    padding:15px 0;
  }
  &__table {
   width:100%;
    display:table;
    height:100%;
  }
  &__cell {
    display:table-cell;
    vertical-align:middle;

    &_left {
      width:100%;
      padding-left: 40px;
    }
    &_right{
      padding-left: 20px;
    }
  }
  &__link {
    overflow: hidden;
    &_active {
      #fillable {
        fill: @dark_red;
      }
    }
  }

  .header__link_active{
    #Rectangle{
      use{
        fill: @dark_red;
      }
      //#FFFFFF
    }

    #Canvas{
      g:first-child{
        g:nth-child(2){
          #Group{
            #Vector{
              use{
                fill: @white;
              }
            }
          }
        }

        g:nth-child(3){
          fill: @white;
        }
      }
    }
  }
}
.header__section {
 //background: url('../../../assets/logo_small.svg') 50% 50% no-repeat;
}
