@import '../../variables.less';
.header {
  &__section {
    height:90px;
  }
  &__table {
   width:100%;
    display:table;
    height:100%;
  }
  &__cell {
    display:table-cell;
    vertical-align:middle;
    padding-top: 40px;

    &_left {
      width:100%;
      padding-left: 40px;
      padding-top: 40px;
    }
    &_right{
      padding-left: 20px;
    }
  }
  &__link {
    display: block;
    overflow: hidden;
    &_active {
      #fillable {
        fill: @dark_red;
      }
    }
  }
}
.header__section {
 //background: url('../../../assets/logo_small.svg') 50% 50% no-repeat;
}
