<div class="container container_home">
  <div class="container__inner">
    <div class="container__header">
      <img class="container__logo" src="assets/logo.svg"/>
    </div>
    <div *ngIf="loading$ | async">
     <img src="assets/loader.gif"/>
    </div>

    <div  *ngIf="!(loading$ | async)">
      <skills (onAdd)="hackService.addSkill($event);"
              (onDelete)="hackService.deleteSkill($event)" [skills]="(hackService.user$ | async).skills || []"></skills>
      <mat-form-field class="mat-field-full-width">
        <textarea [ngModel]="(hackService.user$ | async).summary" (ngModelChange)="hackService.updateSummary($event)"  matInput matTextareaAutosize placeholder="Специализация (front-end, back-end, дизайн ...)"></textarea>
      </mat-form-field>
      <mat-form-field class="mat-field-full-width" >
        <textarea [ngModel]="(hackService.user$ | async).idea" (ngModelChange)="hackService.updateIdea($event)" matTextareaAutosize matInput placeholder="Расскажите о вашей идее"></textarea>
      </mat-form-field>
      <button class="button" (click)="submitUser()" class="container__button button">Перейти к поиску тимейтов</button>
    </div>
  </div>


</div>
