<header-page></header-page>
<div class="developer-info">
  <div class="developer-info__head">
    <span class="developer-info__title">Информация о разработчике</span>

    <a href="http://google.com">
      <svg class="developer-info__logo" width="40" height="40" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>multiply (1)</title>
        <desc>Created using Figma</desc>
        <g id="Canvas" transform="translate(-2827 -1566)">
          <g id="multiply (1)">
            <g id="Vector">
              <use xlink:href="#path0_fill" transform="translate(2827 1566)" fill="#000000" fill-opacity="0.35"/>
            </g>
          </g>
        </g>
        <defs>
          <path id="path0_fill" d="M 40 1.81795L 38.1821 0L 20 18.1821L 1.81795 0L 0 1.81795L 18.1821 20L 0 38.1821L 1.81795 40L 20 21.8179L 38.1821 40L 40 38.1821L 21.8179 20L 40 1.81795Z"/>
        </defs>
      </svg>
    </a>
  </div>
  <div class="developer-info__skills">
    <skill *ngFor="let skill of skills" [hasShadow]="true" [value]="skill"></skill>
  </div>
  <div class="developer-info__idea">
    <span>Идея для хакатона</span>
    <div>{{idea}}</div>
  </div>

</div>
