<header-page></header-page>
<div class="container">
  <div class="user-grid">
    <div class="match">

    </div>

    <div class="match">
      <div class="thumbnail">
        <img class="img-circle" src="https://pp.userapi.com/c841421/v841421964/425c/WNEF1EqPBco.jpg">
        <div class="middle">
          <div class="text">John Doe</div>
        </div>
      </div>
      <div class="name">Александр Л</div>
    </div>

    <div class="match">

    </div>

    <div class="match">

    </div>

  </div>
</div>
